*{
    padding: 0%;
    margin: 0%;
    font-family: Inter;
}
/* section 1 or hero section css*/
.section-hero{
    padding: 5%;
    padding-top: 25%;
    padding-bottom: 25%;
    background: #EFF6FF;
}
.section-hero > h1, h2 {
    color: #0B409C;
    font-size: 90px; /* kalo asya liat tolong font sizenya di fix-in*/
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section-hero > p {
    color: #E8AC20;
    font-size: 50px;
    font-weight: 600;
    margin: auto;
    vertical-align: middle;
}
/* Navigation header css [blomm fixs]*/
header > img{
    width: 104px;
    height: 103.632px;
    flex-shrink: 0;
}
header {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 50px;
}
/* Navigation rill*/
nav > ul{
    display: inline-flex;
    list-style:none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1%;
    text-align: center;
}
header > .header-logo > .logo {
    width: 104px;
    height: 103.632px;
    flex-shrink: 0;
}
header > .header-logo > .text-logo {
    display:flex;
    width: 317px;
    height: 36px;
    color: #4C4C4C;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-top:8%;
}
.header-logo {
    display: flex;
}
